<header
  class='justify-evenly border-2 text-6xl space-x-6 pb-10 bg-blue-300 w-full flex items-center'
>
  <a href='/' class='hover:text-red-500'>
    Home
  </a>
  <a href='/highscore' class='hover:text-red-500'>
    Highscore
  </a>
  <a href='/aboutUs' class='hover:text-red-500'>
    About us
  </a>
</header>