<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/output.css' type='text/css' rel='stylesheet' />
  </head>

  <body class="bg-gradient-to-r from-green-300 to-blue-700 ">
    {{> header}}
    <main class="flex justify-center items-center h-screen">
      <section class="flex flex-col items-center">
        <p class="text-red-500 bg-black  text-center max-w-screen-sm mx-auto">Kul att man blev klar till slut.
          nu hoppas men på något mer roligt att göra 
        </p>
      </section>
    </main>
  </body>

</html>