<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/output.css' type='text/css' rel='stylesheet' />
  </head>

  <body>
    {{> header}}
    <main>
      <h1 class="bg-red-500">Higscores</h1>
      <h2 class="text-red-500">Det här komemr inte lösa sig</h2>
      <h3 class="text-yellow-500">hej</h3>
      <h4 class="text-blue-500">hejehej</h4>
       {{> scoreboard}}
    </main>
  </body>

</html>